<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
	<title>Document</title>
</head>

<body>
	<main id="app">
		<div class="panel scores">
			<div class="score">
				<h1>Jogador</h1>
				<div class="life-bar">
					<div class="life" :class="{danger:playerLife < 20}" :style="{width:playerLife +'%'}"> </div>
					<div class="percentage">{{playerLife}}%</div>
				</div>
			</div>
			<div class="score">
				<h1>Monstro</h1>
				<div class="life-bar">
					<div class="life" :class="{danger:monsterLife < 20}" :style="{width:monsterLife +'%'}">
					</div>
					<div class="percentage">{{monsterLife}}%</div>
				</div>
			</div>
		</div>
		<div v-if="hasResult" class="panel result">
			<div v-if="monsterLife == 0" class="win">Você venceu !!! :)</div>
			<div v-else class="lose"> Você perdeu ;-;</div>
		</div>
		<div class="panel buttons">
			<template v-if="running">
				<button @click="attack(false)" class="btn attack">Ataque</button>
				<button @click="attack(true)" class="btn special-attack">Ataque especial</button>
				<button @click="healAndHurt" class="btn heal">Curar</button>
				<button @click="running = false" class="btn give-up">Desistir</button>
			</template>
			<button v-else @click="startGame" class="btn new-game">Iniciar jogo</button>
		</div>
		<div v-if="logs.length > 0" class="panel logs">
			<ul>
				<li v-for="log in logs"
					class="log" :class="log.cls == 'monster'?'monster':'player'"> {{log.text}}
				</li>
			</ul>
		</div>
	</main>
	<script src="app.js"></script>
</body>

</html>